* {
	margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:1.2rem;
    color:#271c5d;
    line-height:1.6;
    background-position: center;
    overflow: hidden;
}

.container,
.container-addUser,
.container-mail,
.sent-mail-container,
.draft-mail-container,
.trash-mail-container,
.compose-mail-container,
.group-mail-container {
    padding: 1rem 4rem; 
    margin: auto;
    overflow: hidden;
    margin-top: 90px; 
}

.container-header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    letter-spacing: 0.13rem;
    border-bottom: 0.25rem solid #64a5b7;
    border-radius: 5px;
}

.app .container-header {
    display: block;
    width: 100%;
    height: 3.12rem; 
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.13rem;
    background: #271c5d;
    border-bottom: 0.25rem solid #64a5b7;
    border-radius: 5px;
}

.container-mail.app,
.sent-mail-container.app,
.draft-mail-container.app,
.trash-mail-container.app,
.compose-mail-container.app,
.group-mail-container.app {
    position: relative;
}

.container-addUser {
    max-width: 60%;
    margin-top: 100px;
}

.container-header span.title {
	float: left;
    color: #271c5d;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.mail-container {
    position: absolute;
    max-height: 100%;
    width: 75%;
    overflow: auto;
    margin-left: 21%;
    padding: 1px 25px;
    left: 10px;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navBar li a {
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
}

.navBar li a.active {
    background-color: #999;
    color: white;
}

.navBar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.navBar li a.compose {
    height: 2.2rem;
    background-color: #271c5d;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 40%;
    border-radius: 20px;
    margin: 0.5rem 0 0.5rem 0.3rem;
    border-bottom: 1.2rem;
    text-align: center;
}

input[name=search] {
    display: block;
    float: right;
    width: 35%;
    margin-bottom: 0.63rem;
    padding: 0.31rem 0.63rem;
    background: #EEE;
    font: 0.88rem Tahoma, Geneva, sans-serif;
    border-radius: 5px;
}

input[name=search]:focus {
    outline: none;
}

.message {
    clear: both;
    margin-bottom: 0.31rem;
    position: relative;
    padding: 0.31rem;
    background: #bbd0e4;
    border-radius: 0.31rem;
}

.message:hover {
	background: #669999;
	cursor: pointer;
}

.message input {
    position: absolute;
    top: 0.5rem;
    left: 0.63rem;
    width: 1.88rem;
}

.message .sender {
    display: block;
    position: absolute;
    left: 2.5rem;
    color: #000;
    font-weight: bold;
    width: 5.63rem;
}

.message .title {
    display: inline-block;
    padding-left: 9.4rem;
    width: 100%;
}

.message .date {
    position: absolute;
    right: 0.63rem;
}
.form-wrap {
    height: 100%;
    margin: auto;
    background: #271c5d;
    color: #fff;
    padding: 1rem 3rem 3rem;
    box-shadow: 0 0.03rem 0.05rem rgba(0, 0, 0, .2);
    border-radius: 0.63rem;
    
}

.compose-mail-container .form-wrap,
.group-mail-container .form-wrap {
    overflow: scroll;
    margin-bottom: 100px;
    margin-top: 15px;
}

.login-container,
.signup-container {
	background: #271c5d;
    color: #fff;
    width: 35%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 1.25rem 1.88rem;
    box-shadow: 0 0.03rem 0.05rem rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.login-container h1,
.signup-container h1 {
	margin: 0.63rem 0rem 0.63rem 0rem;
    padding-bottom: 0.63rem;
    text-align: center;
    font-size: 1.75rem;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.login-container input,
.signup-container input,
.form-wrap input {
	width: 100%;
	margin-bottom: 0.63rem;
	height: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	color: #fff;
	font-size: 0.88rem;
    overflow: auto;
}

#message, 
#group-emails {
	margin-top: 0.65rem;
}

#btn, 
#btn-group {
	width: 100%;
	border: none;
    background: #bbd0e4;
    outline: none;
    height: 30px;
    color: #271c5d;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 1.1rem 0rem 1.1rem;
}

#btn:hover, #btn-group:hover {
	cursor: pointer;
	color: #000;
	background-color: #FFA500;
}

.form-wrap #btn,
.form-wrap #btn-group {
    margin-top: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.login-container a {
	text-decoration: none;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: darkgray;
    margin: 1.1rem 0 0;
	text-decoration: none;
}

.login-container a:hover {
	color: #FFA500;
}

.input-box {
    padding: 0.5rem;
    font-size: 18px;
    width: 100%;
    margin-bottom: 1.2rem;
}

.close {
    color: #cc3300;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#landing{
  background: #ffffff url('../image/landing-image.png'); /* image from my Udacity Memory Game project*/
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#landing h1{
  font-size:3rem;
  line-height:1.3;
}

#landing p{
  font-size:1rem;
}

#landing .button{
  font-size:1.1rem;
  text-decoration:none;
  color:#271c5d;
  border:#271c5d 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#landing .button:hover{
  background:#271c5d;
  color:#fff;
}

.container-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
}

.container-header ul li {
  display:flex;
  /* flex-direction:column; */
  justify-content:right;
  /* align-items:column; */
  text-align:right;
}

.container-header ul li a {
  display: block;
  color:#271c5d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container-header ul li a:hover {
  background-color: #271c5d;
  color: #fff;
}

.close:hover,
.close:focus {
    color: #a99567;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 55%;
    	height: 55%;
	}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  	.login-container {
    	width: 85%;
  	}

  	.signup-container {
    	width: 90%;
  	}

  	.container, 
    .container-addUser {
        padding: 1rem 2rem;
    }

       .mail-container {
	    margin-left: 28%;
	}

	.message{
		height: 3%;
	}

	ul {
	    width: 25%;
	}

	.message .sender {
	    width: 2.63rem;
	    left: 2.5rem;
	}

	.message .title {
	    width: 100%;
	    padding-left: 6.4rem;
	}

	.message .date {
	    right: 0.13rem;
	}
	li a.compose {
		width: 90%;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  	.login-container {
	    width: 80%;
  	}

  	.signup-container {
    	width: 90%;
  	}

  	.container,
    .container-addUser {
        padding: 1rem;
    }
    .form-wrap {
        padding: 1rem 2rem 2rem;
    }
    .mail-container {
	    margin-left: 28%;
	}

	.message{
		height: 3%;
	}

	ul {
	    width: 25%;
	}

	.message .sender {
	    width: 2.63rem;
	    left: 2.5rem;
	}

	.message .title {
	    width: 100%;
	    padding-left: 5.4rem;
	}

	.message .date {
	    right: 0.13rem;
	}

	li a.compose {
		width: 90%;
	}
}
 





